<div class="appCardView">
  <div class="gameSetup">
    <div class="header">Round Setup</div>

    <div class="optionRow">
      <div class="leftSide">Players:</div>
      <div class="rightSide">"dropdown"
      </div>
    </div>


    <div class="optionRow">
      <div class="leftSide">Course:</div>
      <div class="rightSide">"dropdown"</div>
      <!-- there will be an ng-select to populate the dropdown -->
    </div>

    <div class="playerRow">
      <!-- this will be ng-repeat for the number of players that they choose above -->
      <hr class="playerSeparator">
      <div class="subRow">
        <div class="leftSide playerLabel">Player 1</div>
        <div class="rightSide">"Text boxt"</div>
      </div>

    </div>




  </div>



  <div class="ButtonRow">
    <div class="StartRound">
      Start Round
    </div>

  </div>




</div>
</div>