<div class="gameChild">
  <div class="mapContainer" id="map">

  </div>

  <div class="holeSelectorRow">
    
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
    <div class="holeNumber">
      1
    </div>
  </div>
</div>