<div class="gameChild">
  <div class="closerBar">
    <div>
      <i class="fa fa-times" aria-hidden="true"></i> Close 
    </div>
  </div>
  <div class="mapContainer" id="map">

  </div>

  <div class="holeSelectorRow">
    <div class="scrollerRow">
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
      <div class="holeNumber">
        1
      </div>
    </div>

  </div>
</div>