<div class="gameChild">
  <div class="scoreBoardContainer">
    <div class="closeButton">
      Close <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="scoreBoardHeading">Player Scores:

    </div>

    <div class="scoreRow">
      <div class="PlayerName">Player 1</div>
      <div class="PlayerScore">10</div>
    </div>
  
    <div class="scoreRow">
      <div class="PlayerName">Player 2</div>
      <div class="PlayerScore">10</div>
    </div>
  
    <div class="scoreRow">
      <div class="PlayerName">Player 3</div>
      <div class="PlayerScore">10</div>
    </div>
  
    <div class="scoreRow">
      <div class="PlayerName">Player 4</div>
      <div class="PlayerScore">10</div>
    </div>
  
  </div>
</div>