<div class="gameChild">
  <div class="closeButton">
    <i class="fa fa-window-maximize" aria-hidden="true"></i> Score Board
  </div>

  <div id="scoreCard">
    <div class="leftScorecard">
    <div class="leftColumn">

      <div class="col-item-hole">
        Hole
      </div>

      <div class="teeYards col-item-l">
        <!-- I need to implement some kind of ng-repeat here for tee types that styles this as well-->
        Tee Yards
      </div>

      <div class="HadicapRow col-item-l">
        Handicap
      </div>

      <div class="parRow col-item-l">
        Par
      </div>

      <div class="playerScore col-item-l">
        Player 1
      </div>
      <div class="playerScore col-item-l">
        Player 2
      </div>
      <div class="playerScore col-item-l">
        Player 3
      </div>
      <div class="playerScore col-item-l">
        Player 4
      </div>

    </div>
  </div>


  <div class="rightScorecard">
    <div class="rightContent">

      <!-- this is what will be repeated for each column-->
      <div class="rightColumn">

        <div class="holeNumber">
          1
        </div>

        <div class="teeYards col-item">
          <!-- I need to implement some kind of ng-repeat here for tee types that styles this as well-->
          300
        </div>

        <div class="HadicapRow col-item">
          2
        </div>

        <div class="parRow col-item">
          1
        </div>

        <div class="playerScore col-item">
          0
        </div>
        <div class="playerScore col-item">
          0
        </div>
        <div class="playerScore col-item">
          0
        </div>
        <div class="playerScore col-item">
          0
        </div>
      </div>
  </div>



      <!-- stop here -->

    </div>
  </div>


  <!--
  <div class="holeNumber">
    18
  </div>-->
</div>