<div class="gameChild">
  <div class="closeButton" ng-click="card.seeScoreboard()">
    <i class="fa fa-window-maximize" aria-hidden="true"></i> Score Board
  </div>

  <div class="instructions">
    Click on the Tee-Type Yards for a Map
  </div>
  <div id="scoreCard">
    <div class="leftScorecard">
      <div class="leftColumn">
        <div class="labelCol" ng-repeat="row in card.titleCol">
          {{ row.label }}
        </div>

      </div>
    </div>
    

    <div class="rightScorecard">
      <div class="rightContent">

        <!-- this is what will be repeated for each column-->
        <div class="rightColumn" ng-repeat="col in card.scorecard">

          <div class="scorecardCol" ng-repeat="row in col.arrRow" >
            {{row.num}}
          </div>

          <div class="scorecardCol" ng-repeat="score in col.scoreArr">
            <input class="scoreInput" type="text" ng-value="0" ng-model="score.score" ng-change="card.updateScore(score.index, score.score, score.hole)">
          </div>
        </div>
      </div>



      <!-- stop here -->

    </div>
  </div>


  <!--
  <div class="holeNumber">
    18
  </div>-->
</div>
<!--
          <div class="holeNumber">
            1
          </div>

          <div class="teeYards col-item">
           
            300
          </div>

          <div class="HadicapRow col-item">
            2
          </div>

          <div class="parRow col-item">
            1
          </div>

          <div class="playerScore col-item">
            <input class="scoreInput" type="text" name="playerName" ng-model="player.name">
          </div>
          <div class="playerScore col-item">
            <input class="playerInput" type="text" name="playerName" ng-model="player.name">
          </div>
          <div class="playerScore col-item">
            <input class="playerInput" type="text" name="playerName" ng-model="player.name">
          </div>
          <div class="playerScore col-item">
            <input class="playerInput" type="text" name="playerName" ng-model="player.name">
          </div>-->